@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767.98px) {
  .hero {
    padding-top: 130px !important;
    height: 90vh;
  }

  .img-hero {
    display: none;
  }
}

.icons-google-size-why {
  font-size: 80px;
}

.desc-paket {
  font-size: 0.7em;
}
